apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-manager-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: task-manager-frontend
  template:
    metadata:
      labels:
        app: task-manager-frontend
    spec:
      containers:
      - name: frontend
        image: task-manager-frontend:1.0
        imagePullPolicy: Never
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "200m"

---
apiVersion: v1
kind: Service
metadata:
  name: task-manager-frontend
spec:
  selector:
    app: task-manager-frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: NodePort
